{% extends "base.html" %}
{% load static %}

{% block title %}Add Recipe | Recipe Book{% endblock %}

{% block content %}
  <div class="form-wrapper-2">
    <h2>Add Recipe</h2>
    <form class="form-group" method="POST"
    enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <br>
      <div class="row">
        <div class="align-left">
          {% include "ledger/recipe_subform.html" with title='Ingredient' name='ingredient' items=ingredients %}
        </div>
        <div class="align-right">
          {% include "ledger/recipe_subform.html" with title='Image' name='image' items=images %}
        </div>
      </div>
      <br>
      <button type="submit">Submit</button>
    </form>
  </div>

  <a href="{% url 'recipe_list' %}"
  class="align-right btn">Back</a>
{% endblock %}

{% block scripts%}
<script src="{% static 'js/recipe_subform.js' %}"></script>
{% endblock%}