{% extends "base.html" %}
{% load static %}

{% block title %}{{ recipe.name }} Image(s) | Recipe Book{% endblock %}

{% block content %}
  <div class="form-wrapper">
    <h2>Add Image(s) for {{ recipe.name }}</h2>
    <form class="form-group" method="POST"
    enctype="multipart/form-data">
      {% csrf_token %}
      {% include "ledger/recipe_subform.html" with title='Image' name='image' items=images %}
      <br>
      <button type="submit">Submit</button>
    </form>
  </div>

  <a href="{% url 'recipe_detail' pk=recipe.pk %}"
  class="align-right btn">Back</a>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/recipe_subform.js' %}"></script>
{% endblock%}