{% extends "base.html" %}
{% load static %}

{% block title %}Add Recipe | Recipe Book{% endblock %}

{% block content %}
  <div class="form-wrapper">
    <h2>Add Recipe</h2>
    <form class="form-group"method="POST"
    enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <br>
      {% include "ledger/recipe_subform.html" with title='Ingredient' name='ingredient' items=ingredients %}
      <br>
      {% include "ledger/recipe_subform.html" with title='Image' name='image' items=images %}
      <br>
      <button type="submit">Submit</button>
    </form>
  </div>

  <a href="{% url 'recipe_list' %}"
  class="align-right btn">Back</a>
{% endblock %}

{% block scripts%}
<script src="{% static 'js/recipe_subform.js' %}"></script>
{% endblock%}